header{
    height: 72px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.logo{
    max-width: 70px;
}

.register__label{
    position: absolute;
    top: 10px;
    transition: all 0.3s ease;
    cursor: text;
}
.register__title{
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    color: #333;
}
.register__input{
    padding-left: 0;
}
.register__input:focus + label{
    top: -10px;
    font-size: 12px;
}
.register__close + label{
    top: -10px;
    font-size: 12px;
}
.capitalize{
    text-transform:capitalize;
}