body {
  margin: 0;
  font-family: 'Roboto',    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 1000px;
  margin: 0 auto;
}
.d-flex{
  display: flex;
}
*{
  box-sizing: border-box;
  font-size: 14px;
}
img{
  max-width: 100%;
  height: auto;
}
a, a:visited{
  transition: all 0.3s ease;
  color: #333;
  text-decoration: none;
}
a:hover{
  color: #335C67;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
input{
  width: 300px;
  height: 34px;
  outline: none;
  margin-bottom: 30px;
  border: none;
  transition: all 0.3s ease;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
input:focus{
  border-bottom: 1px solid #282c34;
}
input::placeholder{
  color: #888;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
label{
  display: block;
  color: #888;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
button{
  transition: all 0.3s ease;
  background: #335C67;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  width: 160px;
  text-align: center;
  padding: 12px 18px;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 13px;
  letter-spacing: 0.3px;
  border-radius: 20px;
}
button:hover{
  background: #23434c;
}
.flex-3{
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.flex-2{
  flex: 0 0 50%;
  max-width: 50%;
}
.inline-list li{
  display: inline-block;
  margin-left: 40px;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.position-relative{
  position: relative;
}
/* pop up */
.globalpopup{
  display: block;
  position: fixed;
  background: rgba(0,0,0,.8);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #fff;
}
.globalpopup__active{
  display: flex;
}
.popup__form{
  padding: 30px;
  position: fixed;
  width:400px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 200px;
  border: 1px solid #ccc;
  background: #fff;
}
.error{
  color: #bd4f4f;
}