body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 1000px;
  margin: 0 auto;
}
.d-flex{
  display: flex;
}
*{
  box-sizing: border-box;
  font-size: 14px;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
a:hover{
  color: #335C67;
}
input{
  display: block;
}
.flex-3{
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.flex-2{
  flex: 0 0 50%;
  max-width: 50%;
}
.inline-list li{
  display: inline-block;
  margin-left: 40px;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}