.petshop{
    position: relative;
    font-size: 16px;
    background: #eee;
    width: 100px;
    height: 70px;
    margin-top: -20px;
    border: 1px solid #ccc;
    padding: 15px 10px 15px 10px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 300;
}
.petshop:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    border-top: 15px solid #999;
    right: 0;
    left: 0;
    bottom: -16px;
    margin: 0 auto;

}
.petshop img{max-width: 30px;color: #fff;margin-top: -10px}
.petshop__paragraph{
    margin-top: -20px;
    color: #111;
    font-size: 13px;
}